<app-navbar></app-navbar>
<br>
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="container">
        <div class="row">
            <div class="form-group col-md-12">
                <label>Sala: </label>
                <select (click)="salaSelected($event.target.value)" class="btn">
                    <option disabled>Selecione a sala: </option>
                    <option value="{{sala.id}}"*ngFor="let sala of salas">{{ sala.name }}</option>
                </select>
                <label style="margin-left: 50px">Dia da Semana: </label>
                <select (click)="diaSelected($event.target.value)" class="btn">
                    <option disabled>Selecione o dia: </option>
                    <option *ngFor="let dias of dSemana">{{ dias }}-feira</option>
                </select>
                <button type="submit" style="margin-left: 50px" class="btn btn-success">Consultar</button>
                <a tooltip="Adicionar" style="float:right;" routerLink="/schedule/create" class="btn btn-outline-success btn-lg" role="button" aria-pressed="true">
                    <img src="../assets/addSchedule_icon.png" width="30" />
                </a>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Inicio</th>
                    <th scope="col">Fim</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Profissão Autorizada</th>
                    <th scope="col">Gerenciar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sche of schedules; let idx = index">
                    <td>{{ sche.start }}</td>
                    <td>{{ sche.end }}</td>
                    <td>{{ sche.purpouse }}</td>
                    <td>{{ sche.profession }}</td>
                    <td>
                        <button tooltip="Editar" type="button" (click)="editar(sche.id)" class="btn btn-primary">
                            <a>
                                <img src="../assets/editSchedule_icon.png" width="20" />
                            </a>
                        </button>
                        <button tooltip="Remover" type="button" (click)="deletarSche(idx)" class="btn btn-danger">
                            <a>
                                <img src="../assets/remove_icon.png" width="20" />
                            </a>
                        </button>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>