<app-navbar></app-navbar>
<div class="container col-md-6">
  <br>
  <h2 align="center">Cadastrar de Usuários</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="inputName">Nome</label>
      <input #name="ngModel" ngModel name="name" type="text" class="form-control" placeholder="Nome"
        required />
        <p class="erroMsg" *ngIf="form.submitted && !name.valid">*O campo Nome é obrigatório</p>
      </div>
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input #email="ngModel" ngModel name="email" type="email" class="form-control" placeholder="Email"
        required email>
        <p class="erroMsg" *ngIf="form.submitted && !email.valid" >*Campo email inválido!</p>
      </div>
      <div class="form-group">
        <label for="registroInterno">Registro Interno</label>
        <input #ri="ngModel" ngModel name="ri" type="text" class="form-control" placeholder="Insira o Registro Interno">
        <small class="form-text text-muted">
          Ex: Registro interno (RA). Obs: Esse campo pode ser nulo
        </small>
    </div>
    <div class="form-group">
        <label for="rfid">Chave de Segurança</label>
        <input #rfid="ngModel" ngModel name="rfid" type="text" class="form-control" 
        placeholder="Insira o RFID" required>
        <p class="erroMsg" *ngIf="form.submitted && !rfid.valid">*O campo RFID é obrigatório</p>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputProfissao">Profissão</label>
            <select (click)="profissaoSelected($event.target.value)" class="form-control" >
              <option disabled >Selecione sua profissão</option>
              <option *ngFor="let prof of profissoes">{{ prof }}</option>
            </select>
            <p class="erroMsg" *ngIf="form.submitted && !profissao">*Selecione uma profissão</p>
        </div>
      <div class="form-group col-md-6">
        <label for="profissao">Permissões</label>
        <br>
        <ss-multiselect-dropdown [options]="myOptions" [texts]="myTexts"
        [ngModelOptions]="{standalone: true}" [settings]="mySettingx" 
        [(ngModel)]="optionsModel"></ss-multiselect-dropdown>
      </div>
    </div>

    <div align="center">
      <button (click)="cancel()" type="button" class="btn btn-danger">Cancelar</button>
      <button type="submit" class="btn btn-success">Confirmar</button>
    </div>
  </form>
</div>