<app-navbar></app-navbar>
<br>

<div class="container">
  <a style="float:right;" routerLink="/salas/create" class="btn btn-outline-success btn-lg" role="button" aria-pressed="true">
      <img src="../assets/add2_icon.png" width="50" />
  </a>
  <br>
  <br>
  <br>
  <table class="table table-hover ">
    <thead>
      <tr>
        <th scope="col">Sala</th>
        <th scope="col">Gerenciar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let salas of salasJsonBackEnd.laboratories">
        <td>{{ salas.name }}</td>
        <td>
          <button (click)="editarSala(salas.id)" class="btn btn-primary">
            <a>
              <img src="../assets/edit2_icon.png" width="20" />
            </a>
          </button>
          <button  (click)="removeSala(salas.id)"class="btn btn-danger">
            <a>
              <img src="../assets/remove_icon.png" width="20" />
            </a>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>