<app-navbar></app-navbar>
<div class="container col-md-6">
  <br>
  <h2 align="center">Editar Usuários</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="inputName">Nome</label>
      <input [ngModel]="user.name" #name="ngModel" name="name" type="text" class="form-control" id="inputname" placeholder="Nome">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input #email="ngModel" [ngModel]="user.email" name="email" type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="registroInterno">Registro Interno</label>
      <input #ri="ngModel"[ngModel]="user.internal_id" name="ri" type="text" class="form-control" id="ri" placeholder="Insira o Registro Interno">
      <small id="RegistroInternoHelp" class="form-text text-muted">
        Ex: Registro interno (RA). Obs: Esse campo pode ser nulo
      </small>
    </div>
    <div class="form-group">
        <label for="rfid">Chave de Segurança</label>
        <input #rfid="ngModel"[ngModel]="user.rfid" 
        name="rfid" type="text" class="form-control" id="rfid" placeholder="Insira o RFID" >
      </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputProfissao">Profissão</label>
            <select #select="ngModel" (ngModel)="user.select"(click)="profissaoSelected($event.target.value)"
            id="inputProfissao" class="form-control" >
              <option disabled >Selecione sua profissão</option>
              <option *ngFor="let prof of profissoes">{{ prof }}</option>
            </select>
          </div>
      <div class="form-group col-md-6">
        <label for="profissao">Permissões</label>
        <br>
        <ss-multiselect-dropdown [options]="myOptions" [texts]="myTexts"
        [ngModelOptions]="{standalone: true}" [settings]="mySettings" 
        [(ngModel)]="optionsModel"></ss-multiselect-dropdown>
      </div>
    </div>

    <div align="center">
      <button (click)="cancel()" type="button" class="btn btn-danger">Cancelar</button>
      <button type="submit" class="btn btn-success">Confirmar</button>
    </div>
    <br>
    <div class="alert alert-danger" *ngIf="form.submitted && (!email.valid || !name.valid || !rfid.valid)">
      <p align="center">Os campos nome, email, rfid e profissão são obrigatórios!</p>
    </div>
  </form>
</div>