<form #f="ngForm" (ngSubmit)="onSubmit(f)" style="margin-top:90px;">

  <h2>Login</h2>
  <div class="input">
    <label>Username</label>
    <input type="text" name="username" class="form-control" #username="ngModel" ngModel required>
  </div>
  <p class="erroMsg" *ngIf="f.submitted && !username.valid">*O campo username é obrigatório</p>
  <div class="input">
    <label>Password</label>
    <input #password="ngModel" type="password" name="password" class="form-control" ngModel required>
  </div>
  <p *ngIf="f.submitted && !password.valid" class="erroMsg">*O campo password é obrigatório</p>
  <div class="input">
    <input class="btn btn-success" type="submit" value="Entrar" style="margin-left: 120px">
  </div>
  <br>
</form>