<app-navbar></app-navbar>
<div class="container col-md-6">
    <br>
    <h2 align="center">Cadastrar Administrador</h2>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
            <label for="inputName">Nome</label>
            <input #name="ngModel" name="name" [(ngModel)]="admin.name" type="text" 
            class="form-control" placeholder="Diga-nos seu nome" required>
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input #email="ngModel" name="email" [(ngModel)]="admin.email" type="email" class="form-control"
            placeholder="Email" required email>
            <p class="erroMsg" *ngIf="form.submitted && !email.valid" >*Campo email inválido!</p>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputUsuario">Usuário</label>
                <input type="text" class="form-control" placeholder="UserName" 
                #login="ngModel" name="login_name" [(ngModel)]="admin.login_name" required>
                <small class="form-text text-muted">
                    Escolha um usuário com cuidado, pois ele fará parte de suas credenciais para acessar o sistema!
                </small>
            </div>
            <div class="form-group col-md-6">
                <label >Password</label>
                <input #password="ngModel" [(ngModel)]="admin.password" type="password" 
                class="form-control" name="password" placeholder="Password" required>
                <small class="form-text text-muted">
                    Nunca compartilhe sua senha com ninguém!
                </small>
            </div>
        </div>
        <div align="center">
            <button (click)="cancel()" type="button" class="btn btn-danger">Cancelar</button>
            <button type="submit" class="btn btn-success">Confirmar</button>
        </div>
        <br>
        <div class="alert alert-danger" *ngIf="form.submitted && (!login.valid || !password.valid || !email.valid || !name.valid)">
            <p align="center">Todos os campos são obrigatórios.</p>
        </div>
    </form>
</div>