<app-navbar></app-navbar>
<div class="container col-md-6">
    <br>
    <h2 align="center">Reservar horário para Salas</h2>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <br>
        <div class="row">
          <div class="form-group col-md-6">
            <label><b>Sala</b></label>
            <br>
            <select (click)="salaSelected($event.target.value)" class="btn">
              <option disabled>Selecione a sala </option>
              <option value="{{sala.id}}"*ngFor="let sala of salas">{{ sala.name }}</option>
            </select>
          </div>
          <div class="col-md-6">
              <label><b>Dia da Semana</b></label>
              <br>
              <select (click)="diaSelected($event.target.value)" class="btn">
                  <option disabled>Selecione o dia</option>
                  <option *ngFor="let dias of dSemana">{{ dias }}-feira</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputName"><b>Horário de inicio</b></label>
            <input #inicio="ngModel" name="inicio" ngModel type="text" 
            class="form-control" placeholder="Ex: 10:30:00" required>
        </div>
        <div class="form-group">
            <label for="inputName"><b>Horário de término</b></label>
            <input #termino="ngModel" name="termino" ngModel type="text" 
            class="form-control" placeholder="Ex: 11:50:00" required>
        </div>
        <div class="form-group">
            <label for="inputName"><b>Propósito</b></label>
            <input #porpouse="ngModel" name="purpouse" ngModel type="text" 
            class="form-control" placeholder="Ex: Reservado para limpeza" required>
        </div>
        <div class="form-group">
            <label for="inputName"><b>Autorização</b></label>
            <select (click)="profissaoSelected($event.target.value)" class="form-control" >
                <option disabled >Selecione sua profissão</option>
                <option *ngFor="let prof of profissoes">{{ prof }}</option>
            </select>
        </div>
        <div align="center">
            <button (click)="cancel()" type="button" class="btn btn-danger">Cancelar</button>
            <button type="submit" class="btn btn-success">Criar</button>
        </div>
        <div class="alert alert-danger" *ngIf="form.submitted && (!porpouse.valid || !inicio.valid || !termino.valid)">
                <p align="center">Todos os campos são obrigatórios.</p>
            </div>
    </form>
</div>